<%= provide(:title, 'Neo Ellison') %>
<div id='neo'>
	<div id='neo_story'>
		<p>
			CatBribes began with Neo.
		</p>
		<p>
			One Sunday afternoon when we were tired of video games, Neo said
			to me: 'Let's see if we can build a website in a day.'
		</p>
	</div>
	<div id='neo_pic'>
		<%= image_tag 'IMG_0410.JPG', height: 500 %>
	</div>
</div>