<%= provide(:title, 'Neo Ellison') %>
<div class='row'>
	<div class='span6'>
		<p>
			CatBribes began with Neo.
		</p>
		<p>
			One Sunday afternoon when we were tired of video games, Neo said
			to me: 'Let's see if we can build a website in a day.' Neither of us
			had built a website before, but this didn't scare Neo.
		</p>
		<p>
			Neo took all of the HTML design, learning about tags and elements, 
			and how to use div's to make columns, while I obsessed over the
			possibility of registration and javascript error messages. By the 
			end of the day, we had bought a domain and had a full static site. 
			Here is the original <%= link_to 'CatBribes', 'http://www.catbribes.com/' %>.
		</p>
		<p>
			After that day, I couldn't stop playing around with different programming
			languages. HTML. CSS. Ruby. It consumed my brain to the point that I 
			couldn't focus on work anymore. Neo saw how much I enjoyed programming,
			and pushed me to make this hobby into a career. He told me about
			Code Academy, and urged me to apply. Once I was accepted, he encouraged
			me to quit my job and pursue Code Academy full-time.
		</p>
		<p>
			I've almost finished Code Academy, and Neo has been there for me the
			whole time. He's put up with me spending my time programming day and
			night, tapping him on the shoulder constantly to show him this one 
			"super cool" feature I added, and always asking him for his opinion
			as a user. Without him, I couldn't have completed Code Academy, and 
			learned Rails at the speed that I did.
		</p>
		<p>
			So to show my appreciation, I re-built CatBribes in dedication to Neo.
			Without him, none of this would have been possible.
		</p>
		<p>
			Thanks Knuckle!
		</p>
		<p>
			- Emily Ellison
		</p>
	</div>
	<div class='span6' id='neo'>
		<%= image_tag 'IMG_0410.JPG', height: 500 %>
	</div>

</div>