<%= provide(:title, 'CatBribes') %>
<div class='row'>
	<div class='span12'>
		<h3>
			You feed them, and they allow you to take adorable pictures.
		</h3>
		<br/>
		<% if @current_member && @current_member.cats.count > 0 %>
			<p>
				<%= link_to '+ CatBribe', new_catbribe_url, class: 'btn btn-info' %>
			</p>
		<% end %>
	</div>
</div>
<br/>
<div class='row'>
	<div class='span6'>
		<div id='catbribes'>
			<%= render :partial => @catbribes.reverse %>
		</div>
	</div>
</div>
