<%= provide(:title, 'CatBribes') %>
<h3>You feed them, and they allow you to take adorable pictures.</h3>

<% if @current_member.present? %>
	<br/>
	<div id='catbribes_form'>
		<%= render 'catbribes/form' %>
	</div>
<% end %>
<br/>
<br/>
<div id='catbribes'>
	<%= render :partial => @catbribes.reverse %>
</div>
