<%= provide(:title, 'CatBribes') %>
<div class='row'>
	<div class='span12'>
		<h3>You feed them, and they allow you to take adorable pictures.</h3>
	</div>
</div>
<br/>
<div class='row'>
	<div class='span6'>
		<div id='catbribes'>
			<%= render :partial => @catbribes.reverse %>
		</div>
	</div>
</div>
