/*Glyphicon Fix*/

[class^="icon-"], [class*=" icon-"] {  
    background-repeat: no-repeat;
		background-image: url("/assets/glyphicons-halflings.png");
    display: inline-block;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    width: 14px;
		margin:2px 0px;
}
[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
  *margin-left: 0;
}
.icon-white {
  background-image: url("/assets/glyphicons-halflings-white.png");
}

/*Header */

.navbar-fixed-top {
	.navbar-inner {
		background: -webkit-linear-gradient(top, dodgerblue, royalblue);
		.container {
			header {
				margin:3px 0px;
				h1 {
					a {
						font-size:25px;
						font-weight:bold;
						color:white;
					}
				}
				ul {
					a {
						margin:5px 0px;
						font-size:16px;
						color:white;
					} 
					.dropdown-menu a {
						color:black;
						font-size:16px;
					}
					.dropdown-menu a:hover {
						background:royalblue;
						color:white;
						font-size:16px;
					}
				}
			}
		}
	}
}
.navbar-fixed-bottom {
	.navbar-inner {
		background:-webkit-linear-gradient(top, dodgerblue, royalblue);
		background:-ms-linear-gradient(top, dodgerblue, royalblue);
		background:-o-linear-gradient(top, dodgerblue, royalblue);
		background:-moz-linear-gradient(top, dodgerblue, royalblue);
		background:-linear-gradient(top, dodgerblue, royalblue);
		
		padding:10px;
		p {
			margin:0px 0px;
			font-size:15px;
			color:white;
			a {
				color:orange;
			}
		}
	}
}
.catbribes_content {
	.container {
		padding:60px 0px;
		a {
			text-decoration:none;
		}
		.row {
			.span6 {
				.hero-unit {
					padding:30px;
					background:aliceblue;
					border:1px solid lightgrey;
							box-shadow: 2px 2px 7px rgba(0,0,0,0.25);
				}
			}
		}
	}
	li {
		font-size:16px;
		padding:3px 0px;
	}
	img {
		border:1px solid lightgrey;
		border-radius:8px;
		box-shadow: 2px 2px 7px rgba(0,0,0,0.25);
	}
	#neo {
		text-align:right;
	}
	p, label, input, a, textarea, select {
		font-size:16px;
	}
	.alert-error {
		li {
			font-size:14px;
		}
	}
	a {
		color:darkorange;
	}
	.created_at {
		color:grey;
	}
	.btn {
		color:white;
		font-weight:bold;
	}
	.caption {
		font-size:18px;
		a {
			font-size:18px;
		}
	}
	.rating_form {
		margin:-6px 0px;
		#rating_bribes_5 {
			margin-right:10px;
		}
		span {
			font-size:16px;
		}
	}
	.add_cat {
		margin:-15px 0px;
	}
	.little_break {
		margin:-9px 0px;
	}
	#cat_birthday_1i, #cat_birthday_2i, #cat_birthday_3i {
		display:block;
	}
}

@media only screen and (max-width:980px) {
	.catbribes_content {
			margin:-60px 0px 0px 0px;
	}
}