/*Header */

.navbar-fixed-top {
	.navbar-inner {
		background: -webkit-linear-gradient(top, dodgerblue, royalblue);
		.container {
			header {
				h1 {
					a {
						font-size:30px;
						font-weight:bold;
						color:white;
					}
				}
				ul li {
					a {
						margin:5px 0px;
						font-size:20px;
						color:white;
					} 
				}
			}
		}
	}
}
.navbar-fixed-bottom {
	.navbar-inner {
		background:-webkit-linear-gradient(top, dodgerblue, royalblue);
		background:-ms-linear-gradient(top, dodgerblue, royalblue);
		background:-o-linear-gradient(top, dodgerblue, royalblue);
		background:-moz-linear-gradient(top, dodgerblue, royalblue);
		background:-linear-gradient(top, dodgerblue, royalblue);
		
		padding:10px;
		p {
			margin:0px 0px;
			font-size:15px;
			color:white;
			a {
				color:orange;
			}
		}
	}
}
.catbribes_content {
	.container {
		padding:60px 0px;
		a {
			text-decoration:none;
		}
	}
	img {
		border-radius:8px;
		box-shadow: 4px 4px 7px rgba(0,0,0,0.25);
	}
}