/*Header */

.navbar-fixed-top {
	.navbar-inner {
		background: -webkit-linear-gradient(top, dodgerblue, royalblue);
		.container {
			header {
				h1 {
					a {
						font-size:30px;
						font-weight:bold;
						color:white;
					}
				}
				ul {
					a {
						margin:5px 0px;
						font-size:20px;
						color:white;
					} 
					.dropdown-menu a {
						color:black;
						font-size:16px;
					}
					.dropdown-menu a:hover {
						background:royalblue;
						color:white;
						font-size:16px;
					}
				}
			}
		}
	}
}
.navbar-fixed-bottom {
	.navbar-inner {
		background:-webkit-linear-gradient(top, dodgerblue, royalblue);
		background:-ms-linear-gradient(top, dodgerblue, royalblue);
		background:-o-linear-gradient(top, dodgerblue, royalblue);
		background:-moz-linear-gradient(top, dodgerblue, royalblue);
		background:-linear-gradient(top, dodgerblue, royalblue);
		
		padding:10px;
		p {
			margin:0px 0px;
			font-size:15px;
			color:white;
			a {
				color:orange;
			}
		}
	}
}
.catbribes_content {
	.container {
		padding:60px 0px;
		a {
			text-decoration:none;
		}
		.row {
			.span6 {
				.hero-unit {
					padding:30px;
					background:aliceblue;
					border:1px solid lightgrey;
							box-shadow: 2px 2px 7px rgba(0,0,0,0.25);
				}
			}
		}
	}
	img {
		border:1px solid lightgrey;
		border-radius:8px;
		box-shadow: 2px 2px 7px rgba(0,0,0,0.25);
	}
	#neo {
		text-align:right;
	}
	p, label, input, a {
		font-size:16px;
	}
	.alert-error {
		li {
			font-size:14px;
		}
	}
	a {
		color:darkorange;
	}
	.created_at {
		color:grey;
	}
	.btn {
		color:white;
	}
}