<header>
	<h1><%= link_to 'CatBribes', root_url %></h1>
	<% if @current_member %>
		<p>
			<%= link_to 'Profile', member_url(@current_member.id) %> |
			<%= link_to 'Sign Out', sessions_url %>
		</p>
	<% else %>
		<p><%= link_to 'Sign In', new_session_url %></p>
	<% end %>
</header>